body {
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrollbars */
}

#start-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000; /* On top of everything */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
}

#start-btn {
    background: transparent;
    color: #0f0; /* Terminal Green */
    border: 2px solid #0f0;
    padding: 15px 30px;
    font-family: monospace;
    font-size: 24px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s;
}

#start-btn:hover {
    background: #0f0;
    color: black;
    box-shadow: 0 0 20px #0f0;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 700px;
    opacity: 0; /* Hidden initially */
    transition: opacity 1s ease-in;
}

.image-container.visible {
    opacity: 1;
}

.image-container img {
    width:100%;
    height:100% ;
    object-fit: cover;
}
.grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
   z-index: 2;
    pointer-events: none;
}
.grid-block{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:gainsboro;
    font-size: 20px;
    font-weight: 400;
    opacity: 0;

}
.grid-block.active{
    opacity: 1;
}